<%- include('includes/header'); -%>
  <div class="bg-danger text-white p-3">
        <div class="container mt-2">
                <h2> <i class="fa fa-handshake-o"></i> Contact</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit eius suscipit doloribus exercitationem ex, ut deserunt incidunt labore blanditiis dicta asperiores enim, facilis cumque voluptatibus quisquam eveniet dolore possimus nihil!
                </p>
        </div>
  </div>
   <!-- Contact Section -->
  <section class="py-5 bg-light">
    <div class="container">
      <h1 class="text-center mb-4"> <i class="fa fa-envelope me-1"></i> Contact Us</h1>
      <p class="text-center mb-5">Have a question or want to know more about our products? We'd love to hear from you.</p>
      
      <div class="row justify-content-center">
        <div class="col-md-8">
          <form>
            <div class="mb-3">
              <label for="name" class="form-label"><i class="fas fa-user me-1"></i>Your Name</label>
              <input type="text" class="form-control" id="name" placeholder="Enter your name">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label"><i class="fa fa-envelope me-1"></i>Email address</label>
              <input type="email" class="form-control" id="email" placeholder="name@example.com">
            </div>
            <div class="mb-3">
              <label for="message" class="form-label"><i class="fa fa-comment me-1"></i>Your Message</label>
              <textarea class="form-control" id="message" rows="5" placeholder="Write your message here..."></textarea>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane me-1"></i>Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

<%- include('includes/footer'); -%>
